<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="cloth_cutting_data_report.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <cloth_cutting_data_report.Properties.Settings>
            <setting name="dataFileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="dataImportDate" serializeAs="String">
                <value />
            </setting>
            <setting name="comPort" serializeAs="String">
                <value />
            </setting>
            <setting name="baudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="dataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="stopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="parityBits" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="empCode" serializeAs="String">
                <value />
            </setting>
            <setting name="formLanguage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="empName" serializeAs="String">
                <value />
            </setting>
            <setting name="details" serializeAs="String">
                <value />
            </setting>
        </cloth_cutting_data_report.Properties.Settings>
    </userSettings>
</configuration>